.moviecontainer {
  transition: all 300ms ease-in;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container {
  margin: 50px auto;
  text-align: center;
  transition: all 300ms ease-in;
  width: 90%;
}


